<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1018477658352-cg4qildkd6hbosfdo5gqbod6b4jll5lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018477658352-cg4qildkd6hbosfdo5gqbod6b4jll5lf</string>
	<key>API_KEY</key>
	<string>AIzaSyAOj2r63wXOg90nqDl0Qh72SnE-McRfEZw</string>
	<key>GCM_SENDER_ID</key>
	<string>1018477658352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Elaine.recruitingApp</string>
	<key>PROJECT_ID</key>
	<string>recruitingapp-66e03</string>
	<key>STORAGE_BUCKET</key>
	<string>recruitingapp-66e03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018477658352:ios:e7ea5188c715ca11</string>
	<key>DATABASE_URL</key>
	<string>https://recruitingapp-66e03.firebaseio.com</string>
</dict>
</plist>
